upstream loadbalance {
    least_conn;
    server api_without_json:5000 weight=${WEIGHT_API_WITHOUT_JSON};
    server api_with_json:5000 weight=${WEIGHT_API_WITH_JSON};
}

server {
    location / {
        proxy_pass http://loadbalance;
    }
}
